<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Kevin Royer records Centriq Training" />
    <meta name="author" content="Kevin Royer" />
    <title>Website of Kevin Royer</title>
    <link rel="icon" type="image/x-icon" href="~/Content/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/black-tie/jquery-ui.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <!--Slideshow CSS-->
    <link href="~/Content/css/phSlideshow.css" rel="stylesheet" />
    <!--Datatable.net CSS-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <!--My custom css-->
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav" onmouseover="changePic();" onmouseout="restorePic();">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Kevin Royer</span>
            <span class="d-none d-lg-block">
                <img id="mepic" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/Content/assets/img/me (3).jpg" alt="picture of Kevin royer" />
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#resume">Resume</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#students">Students</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact Me</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        @RenderBody()

        <div id="contactForm">
            @Html.Partial("ContactAjax", new PersonalSite.MVC.UI.Models.ContactViewModel())
        </div>
        <div id="contactConfirm">
            @Html.Partial("EmailConfirmation", new PersonalSite.MVC.UI.Models.ContactViewModel())
        </div>

    </div>
    <footer class="text-center bg-dark" style="height: 10%;">

        &copy;Kevin Royer <span id="year">
            <script>document.getElementById("year").innerHTML = new Date().getFullYear();</script>
        </span>

    </footer>

    <!-- Bootstrap core JS-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--jqueryUI plugin-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Core theme JS-->
    <script src="~/Content/js/scripts.js"></script>
    <script src="~/Content/js/custom.js"></script>


    <!--JS for slideshow-->
    <script src="~/Content/js/phSlideshow.js"></script>

    <!--JS for Datatables.net-->
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $("#myTable").hide().css({ "font-weight": "bold", "font-family": "roboto, sans-serif" });
        })
    </script>
    <script>
        $(function () {
            $("#table-button").on("click", function () {
                $(this).val($(this).val() == "See my records" ? "Hide my records" : "See my records");
                $("#myTable").toggle(1000);

            });
        });
    </script>
    <script>
        $(function () {
            $("#accordion").accordion({
                collapsible: true
            });
        });
    </script>

    <!--slideshow function-->
    <script>
        phSlideShow.slideshowInit(
            ".slideshow",
            3000,
            true,
            true
        );

        //datatables.net
        $('#myTable').DataTable();
    </script>
    
    <script>
        //changes offset of contact form header on mobile
        $(window).resize(function () {
            if ($(window).width() <= 767)
            {
                $("#contact-header").removeClass("offset-4");
                $("#contact-header").addClass("offset-1");
            }
            if ($(window).width() > 767)
            {
                $("#contact-header").addClass("offset-4");
                $("#contact-header").removeClass("offset-1");
            }
        });
    </script>
   


    @RenderSection("scripts", required: false)
    <script>
        $("#ContactCreateForm").submit(function (e) {
            var formData = $(this).serializeArray();
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("ContactAjax", "Home")',
                type: 'POST',
                data: formData,
                datatype: 'json',
                success: function (data) {
                    $("#contactForm").hide();
                    $("#contactConfirm").show();
                }
            });
        });

        //$("email-confirm-close").on("click", function () {
        //    $("#contactConfirm").hide();
        //    $("#contactForm").show();
        //});
    </script>
</body>
</html>
